<header class="header">
    <section class="header__section">
        <img src="./assets/images/logo.png" class="header__section-logo" title="Logo de la empresa"
            alt="Logo de la empresa" />
        <h1 class="header__section-titre">LayoutDeEjemplo</h1>
    </section>
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Link1</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Link2</a>
            </li>
            <li class="header__menu-item"">
                <a href=" #" class="header__menu-link">Link3</a>
            </li>
            <li class="header__menu-item">
                <a href="#" class="header__menu-link">Link4</a>
            </li>
        </ul>
    </nav>
</header>